.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:4px;
    border:solid 2px #7098b7;
    /* background-color: rgb(206, 205, 205); */
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  .barra {
    position: absolute;
    z-index:1;
    cursor: pointer;
    top: 50%;
    left: 15%;
    right: 15%;
    bottom: 50%;
    border:solid 1px #7098b7;
    background-color: #7098b7;
    
    
  }
  
  .slider:before {
      
    position: absolute;
    z-index:2;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    top:1px;
    bottom:1px;
    border-radius:2px;
    background-color: #f2b400;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  